@charset "utf-8";
/* CSS Document */

*, *:after, *:before{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@font-face{
	font-family: 'nexa-b';
	src: url('fonts/nb.otf');
}

@font-face{
	font-family: 'nexa-l';
	src: url('fonts/nl.otf');
}

body{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-image: -webkit-linear-gradient(-164deg, #c4c3c2, #faf7f4 99%);
	background-image: -moz-linear-gradient(-164deg, #c4c3c2, #faf7f4 99%);
	background-image: -o-linear-gradient(-164deg, #c4c3c2, #faf7f4 99%);
	background-image: -ms-linear-gradient(-164deg, #c4c3c2, #faf7f4 99%);
	background-image: linear-gradient(-164deg, #c4c3c2, #faf7f4 99%);
	font-family: 'nexa-l';
	/*box-shadow: inset 5px 5px 15px orange, inset -5px -5px 15px orange;*/
}

#dnd{
	position:fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transition: all 0.5s;
}

#dash{
	word-wrap: break-word;
}

#browse{
	position: relative;
top: 37%;
width: 200px;
margin: auto auto;
font-size:1.1em;
cursor: pointer;
}

#drop{
	width: 150px;
margin-top: 20px;
margin-left: 56%;
transform: translateX(-50%);
text-transform: uppercase;
text-align: center;
color: #7d6c60;

}

.i-picture{
	top: 37%;
margin-left: 50%;
transform: translateX(-50%);
text-align: center;
color: #7d6c60;
}

i{
	transition: all 0.2s;
}

footer{
	position: fixed;
	bottom: 40px;
	left: 50px;
	text-transform:uppercase;
	font-size:1.7em;
}

#stegano{
	color: #7d6c60;
}

#graphy{
	font-family: 'nexa-b';
	color: #ff730c;
}

#upload{
	display:none;
}

#post-upload{
	position:relative;
	width: 90%;
	height: 80%;
	margin: 5% auto;}
	
#post-upload > div{
	position: relative;
	width: 50%;
	height: 100%;
	float: left;
}

#options{
	padding-left: 60px;
}

#image{
perspective: 600px;
transition: all 0.2s linear;
transform-style: preserve-3d;
}

#image-hover{
	transform: rotateY(45deg);
}

#message{
	font-size:1.4em;
	background: none;
	font-family: 'nexa-l';
	margin-top: 10%;
	outline: none;
	box-shadow:none;
	border: none;
	border-bottom: 2px solid #7d6c60;
	padding: 20px;
	width: 450px;
	transition: all 0.3s;
	}
	
	#message:focus{
		border-color: #ff730c;
	}

.sub-text{
	width: 450px;
	text-align: center;
	font-size: 1.1em;
	margin-left: 0;
	
}

#or{
	padding-top: 15px;
}

.btn{
		background: none;
  outline: none;
  border: 2px solid #7d6c60;
  width: 315px;
  height: 53px;
  text-transform: uppercase;
  font-family: 'nexa-b';
  color: #7d6c60;
  font-size: 1em;
  transform: translateX(-50%);
  cursor: pointer;
  margin: 25px 43%;		
}

#select_secret_file{
	margin: 15px 43%;
	border-radius: 100px;
}

.btn:hover i, #dload:hover i{
	color: #ff730c;
}

@-webkit-keyframes swirl{
	from{	transform: translateX(-50%) rotateY(-10deg);}
	to{transform: translateX(-50%) rotateY(10deg);}
}

#image>img
{
	position: relative;
	height : 300px;
	border : 5px solid  #7d6c60;
	left: 50%;
	top: 15%;
	transform:translateX(-50%);
	-webkit-animation: swirl 3s infinite ease-in-out alternate;
}





#shadow{
content: '';
position: absolute;
width: 65%;
height: 13px;
background: rgba(10,10,10,0.1);
display: block;
bottom: 70px;
-webkit-border-radius: 50%;
box-shadow: 0 0 17px 2px rgba(10,10,10,0.1);
margin-left: 85px;
opacity: 0.7;
}

#hide_file{
	display : none;
}

#file-hide{
	width: 300px;
	margin: 90px auto;
}

#file_icon{
	padding-right: 20px;
	color: #7d6c60;
}

#file_info{
	display: inline-block;
	color: #7d6c60;
}

#file_name{
	font-family: 'nexa-b';
  font-size: 1.3em;
}

#file_size{
	font-size: 0.9em;
}

#dload{
	  font-family: nexa-b;
  text-decoration: none;
  color: #7d6c60;
}
